@CHARSET "UTF-8";
.button-tool {
	font-size: 14px;
	font-weight: bold;
	color: #006964;
	cursor: pointer;
}
.button-tool-normal .but-left {
	float: left;
	height: 26px;
	width: 5px;
	background-image: url("../images/button/button-n-l.gif");
	background-repeat: no-repeat;
}
.button-tool-normal .but-mid {
	float: left;
	height: 26px;
	background-image: url("../images/button/button-n-m.gif");
	background-repeat: repeat-x;
	padding-top:7px;
	padding-left: 6px;
	padding-right: 4px;
}
.button-tool-normal .but-right {
	float: left;
	height: 26px;
	width: 25px;
	background-image: url("../images/button/button-tool-n.gif");
	background-repeat: no-repeat;
}
.button-tool-hover .but-left {
	float: left;
	height: 26px;
	width: 5px;
	background-image: url("../images/button/button-f-l.gif");
	background-repeat: no-repeat;
}
.button-tool-hover .but-mid {
	float: left;
	height: 26px;
	background-image: url("../images/button/button-f-m.gif");
	background-repeat: repeat-x;
	padding-top:7px;
	padding-left: 6px;
	padding-right: 4px;
}
.button-tool-hover .but-right {
	float: left;
	height: 26px;
	width: 25px;
	background-image: url("../images/button/button-tool-f.gif");
	background-repeat: no-repeat;
}
.button-tool-down .but-left {
	float: left;
	height: 26px;
	width: 5px;
	background-image: url("../images/button/button-p-l.gif");
	background-repeat: no-repeat;
}
.button-tool-down .but-mid {
	float: left;
	height: 26px;
	background-image: url("../images/button/button-p-m.gif");
	background-repeat: repeat-x;
	padding-top:7px;
	padding-left: 6px;
	padding-right: 4px;
}
.button-tool-down .but-right {
	float: left;
	height: 26px;
	width: 25px;
	background-image: url("../images/button/button-tool-p.gif");
	background-repeat: no-repeat;
}
.btn-add {
	background:url(../images/input/button-plus-n.png) no-repeat scroll 0 0 transparent;
	border:none;
	cursor:pointer;
	width:22px;height:22px;
	margin-left:8px;
}
.btn-add-hover{
	background:url(../images/input/button-plus-f.png) no-repeat scroll 0 0 transparent;
}
.btn-save {
	background:url(../images/input/button-01-n.png) no-repeat scroll 0 0 transparent;
	border:none;
	cursor:pointer;
	width:94px;height:33px;
	text-align:center;
	line-height:32px;
	color:#ffffff;
	font-size:16px;
	margin-top:10px;
}
.btn-save-hover{
	background:url(../images/input/button-01-f.png) no-repeat scroll 0 0 transparent;
}
.btn-cancel {
	background:url(../images/input/button-03-n.png) no-repeat scroll 0 0 transparent;
	border:none;
	cursor:pointer;
	width:94px;height:33px;
	text-align:center;
	line-height:32px;
	color:#ffffff;
	font-size:16px;
	margin-left:8px;
	margin-top:10px;
}
.btn-cancel-hover{
	background:url(../images/input/button-03-f.png) no-repeat scroll 0 0 transparent;
}
.btn-test {
	background:url(../images/input/button-02-n.png) no-repeat scroll 0 0 transparent;
	border:none;
	cursor:pointer;
	width:94px;height:33px;
	text-align:center;
	line-height:32px;
	color:#ffffff;
	font-size:16px;
	margin-left:8px;
	margin-top:10px;
	
}
.btn-test-hover{
	background:url(../images/input/button-02-f.png) no-repeat scroll 0 0 transparent;
}
.arrowRight_n {
	background: url("../images/button/arrow-2r-n.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}

.arrowRight_p {
	background: url("../images/button/arrow-2r-p.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}
.arrowLeft_n {
	background: url("../images/button/arrow-2l-n.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}

.arrowLeft_p {
	background: url("../images/button/arrow-2l-p.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}
.arrowRightAll_n {
	background: url("../images/button/arrow-all-2r-n.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}

.arrowRightAll_p {
	background: url("../images/button/arrow-all-2r-p.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}
.arrowLeftAll_n {
	background: url("../images/button/arrow-all-2l-n.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}

.arrowLeftAll_p {
	background: url("../images/button/arrow-all-2l-p.png") no-repeat;
	border: 0px;
	width:32px;
	height:32px;
	cursor: pointer;
}
.addBtn-n{
	background: url("../images/button/add-n.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.addBtn-p{
	background: url("../images/button/add-p.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.editBtn-n{
	background: url("../images/button/edit-n.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.editBtn-p{
	background: url("../images/button/edit-p.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.delBtn-n{
	background: url("../images/button/del-n.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.delBtn-p{
	background: url("../images/button/del-p.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.runBtn-n{
	background: url("../images/button/run-n.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.runBtn-p{
	background: url("../images/button/run-p.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.graphBtn-n{
	background: url("../images/button/analyze-n.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.graphBtn-p{
	background: url("../images/button/analyze-p.png") no-repeat;
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	font-size: 0px;
	cursor: pointer;
	margin-right:2px;
}
.downLoad_n{
	background: url("../images/button/download.png") no-repeat;
	background-position: 0 -40px;
    height: 39px;
	line-height: 36px;
	width: 123px;
	border: 0px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	padding-left:30px;
	letter-spacing:2px
	
}
.downLoad_f{
	background: url("../images/button/download.png") no-repeat;
	background-position: 0 -79px;
    height: 39px;
	line-height: 36px;
	width: 123px;
	border: 0px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	padding-left:30px;
	letter-spacing:2px
	
}
.date-n{
	width: 90px;
	height:18px;
	line-height:18px;
	padding-left:3px;
}
.opt-btn{
	height: 16px;
	line-height: 16px;
	width: 16px;
	border: 0px;
	cursor: pointer;
	margin-right:4px;
}
